h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #eee;
}

.main {
  background-color: #1D1D1D;
  background: #1D1D1D;
}

.movefree {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}

.move, .shift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 120px 120px 120px 120px;
}

.move {
  color: #fff;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 64px */
  letter-spacing: -1.5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  /* Align this item to the top of the container */
  white-space: nowrap;
  /* Prevent the text from wrapping to the next line */
}

.shift {
  color: #fff;
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 32.2px */
  text-align: left;
  /* Align the text to the left side */
}

.compare {
  text-align: center;
  padding: 20px;
}

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  /* Prevent products from wrapping to the next row */
  overflow: hidden;
  /* Hide any content that overflows the container */
}

.product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.33% - 24px);
          flex: 0 0 calc(33.33% - 24px);
  /* Calculate the fixed width for each product */
  padding: 20px;
}

/* Add additional styling for product images, h3, and price elements if needed */
.product img {
  max-width: 100%;
}

.product h3 {
  margin: 10px 0;
}

.product price {
  font-weight: bold;
}

@media (min-width: 1024px) {
  .container {
    padding: 1000px 400px;
  }
}

.page {
  font-family: "Poppins", sans-serif;
}

.page__body {
  margin: 0;
}

.section-title {
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 64px */
  letter-spacing: -1.5px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__opener {
  display: block;
  width: 18px;
  height: 12px;
  background-image: url(../images/menu.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu__opener:hover {
  background-image: url(../images/menu_hover.svg);
}

.menu__call {
  display: block;
  height: 18px;
  width: 18px;
  background-image: url(../images/phone.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-decoration: none;
}

.menu__call::before {
  content: attr(data-tel);
  display: none;
  position: absolute;
  left: -220px;
  top: -5px;
  padding: 5px;
  border-radius: 4px;
  color: white;
}

.menu__call:hover::before {
  display: block;
}

.logo__image {
  width: 130px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
/*# sourceMappingURL=main.css.map */